/*
 背景设置
 */
body{
	background-image:url(../img/bodybg.jpeg) ;
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
}
/*
 居中设置
 * */
.center{
	width: 700px;
	margin: 0 auto;
}

.headp1{
	font: "仿宋";
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
}

